/* static/css/style.css */

/* Стили для изображений карточек */
.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

/* Общие стили для карточек */
.card {
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопок */
.btn {
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Добавляем фокус для кнопок */
.btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(38, 143, 255, 0.5);
}

/* Стили для заголовков и текста */
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

/* Стили для QR-кодов на видео-платформы */
.photo-container {
    overflow: hidden;
    border-radius: 10px;
}

.animated-photo {
    width: 100%; /* Теперь изображения автоматически занимают доступное пространство */
    height: auto; /* Сохранение пропорций */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.photo-container:hover .animated-photo {
    transform: scale(1.15);
    opacity: 0.5;
}

/* Адаптивность */
@media (max-width: 768px) {
    .card {
        margin: 10px;
        padding: 12px;
    }

    .card-img-top {
        height: 150px;
    }

    .btn {
        width: 100%;
    }

    .photo-container {
        margin-bottom: 20px;
    }
}
