{% extends "layouts/base.html" %}
{% block title %}Профиль{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-body text-center">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="rounded-circle" width="150" height="150" alt="Профиль">
        <h2 class="card-title mt-4">{{ current_user.username }}</h2>
        <p class="card-text">{{ current_user.email }}</p>
        <a href="{{ url_for('profile.profile_edit') }}" class="btn btn-primary">Редактировать профиль</a>
    </div>
</div>

<!-- Раздел с избранными курсами -->
<div class="mt-5">
    <h3 class="text-center">Избранные курсы</h3>
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Название курса</th>
                    <th>Описание</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for course in favorite_courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.price }}₽</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Нет избранных курсов.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
