{% extends "layouts/base.html" %}

{% block title %}Видео ВКонтакте{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Видео ВКонтакте</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241512&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241511&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241510&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241506&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241505&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 mb-4">
            <iframe src="https://vk.com/video_ext.php?oid=-183207497&id=456241504&hd=2&autoplay=1"
                    width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}
